<header class="container mx-auto pt-20 pb-16 md:pt-24 md:pb-20 text-center">
  <h1 class="text-4xl sm:text-5xl lg:text-6xl font-bold text-slate-900 dark:text-white">Price Tracker</h1>
  <div class="mt-12 flex justify-center">
    <form class="relative max-w-md w-full mx-4">
      <input
        type="text"
        class="w-full input--default"
        placeholder="Enter search term"
        name="query"
        [(ngModel)]="query"
        autocomplete="hidden"
      />
      <button
        type="submit"
        class="absolute rounded-full right-0 button--primary"
      >
        <span [class.invisible]="loading">Search</span>

        <spinner
          class="absolute block top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
          *ngIf="loading"
        ></spinner>
      </button>
    </form>
  </div>
</header>
