<!-- Player not found -->
<header
  *ngIf="!playerDetails"
  class="container mx-auto py-48 sm:py-72"
>
  <h1 class="flex flex-col items-center text-center">
    <span class="text-7xl sm:text-8xl lg:text-9xl font-bold text-slate-900 dark:text-white">404</span>
    <span class="accent text-2xl sm:text-3xl lg:text-4xl font-semibold mt-2 sm:mt-3 lg:mt-4">NOT FOUND</span>
  </h1>
</header>

<!-- Player found -->
<div
  *ngIf="playerDetails"
  class="container mx-auto my-8 px-4 grid lg:grid-cols-3 2xl:grid-cols-4 gap-8"
>
  <player-details-widget
    [playerDetails]="playerDetails"
    [today]="today"
  ></player-details-widget>

  <player-logs
    class="lg:col-span-2 2xl:col-span-3"
    [playerDetails]="playerDetails"
    [today]="today"
    [history]="history"
  ></player-logs>
</div>
