<section class="flex flex-col gap-4">
  <header class="flex items-center justify-between">
    <h1 class="text-2xl font-bold text-slate-900 dark:text-white">Logs</h1>

    <div class="text-lg font-semibold flex rounded-lg bg-slate-300 dark:bg-slate-800">
      <button
        class="w-20 rounded-lg px-3 py-0.5"
        [ngClass]="{ 'bg-emerald-400 text-white dark:text-slate-900': viewType === ViewType.Skills }"
        (click)="setView(ViewType.Skills)"
      >
        Skills
      </button>
      <button
        class="w-20 rounded-lg px-3 py-0.5"
        [ngClass]="{ 'bg-emerald-400 text-white dark:text-slate-900': viewType === ViewType.Other }"
        (click)="setView(ViewType.Other)"
      >
        Other
      </button>
    </div>
  </header>

  <!-- player not tracked -->
  <p
    *ngIf="!isPlayerTracked"
    class="text-lg"
  >
    This player is not being tracked yet...
  </p>

  <!-- XP view -->
  <ng-template [ngIf]="isPlayerTracked && viewType === ViewType.Skills">
    <!-- skeleton loader -->
    <ng-template [ngIf]="!hiscoreDiffs">
      <article
        *ngFor="let skills of [].constructor(7); let i = index"
        class="shadow-lg rounded-lg bg-slate-100 dark:bg-slate-800"
      >
        <h2 class="rounded-t-lg bg-slate-300 dark:bg-slate-700 px-4 py-2">
          <div class="animate-pulse h-5 w-20 my-1 rounded-xl bg-slate-200 dark:bg-slate-600"></div>
        </h2>
        <div class="p-4 grid grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-2">
          <div *ngFor="let skills of [].constructor(((i * 3) % 9) + 6)">
            <div class="animate-pulse h-4 w-20 my-2 rounded-xl bg-slate-300 dark:bg-slate-700"></div>
            <div class="animate-pulse h-4 w-28 my-2 rounded-xl bg-slate-300 dark:bg-slate-700"></div>
          </div>
        </div>
      </article>
    </ng-template>

    <!-- content -->
    <article
      *ngFor="let diff of hiscoreDiffs; let i = index"
      class="text-lg shadow-lg rounded-lg bg-slate-100 dark:bg-slate-800"
    >
      <h2 class="font-semibold rounded-t-lg bg-slate-300 dark:bg-slate-700 px-4 py-2">
        <ng-template [ngIf]="i === 0">Today</ng-template>
        <ng-template [ngIf]="i === 1">Yesterday</ng-template>
        <ng-template [ngIf]="i > 1">{{ diff.date | date : 'MMMM dd' | dateOrdinal : diff.date }}</ng-template>
      </h2>

      <!-- hiscore diffs -->
      <div
        *ngIf="hasXpDiff(diff); else nothingInterestingHappens"
        class="p-4 grid grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-2"
      >
        <ng-template
          ngFor
          let-skill
          [ngForOf]="skills(diff)"
        >
          <div *ngIf="skill.xp">
            <div class="flex items-center gap-2">
              <img
                icon
                [name]="skill.name"
                class="w-4 h-4"
              />
              <span>{{ skill.name }}</span>
            </div>
            <div class="font-thin text-slate-900 dark:text-white ml-2">+&nbsp;{{ skill.xp | number }}&nbsp;XP</div>
          </div>
        </ng-template>
      </div>
    </article>
  </ng-template>

  <!-- Other view -->
  <ng-template [ngIf]="isPlayerTracked && viewType === ViewType.Other">
    <!-- skeleton loader -->
    <ng-template [ngIf]="!hiscoreDiffs">
      <article
        *ngFor="let skills of [].constructor(7); let i = index"
        class="shadow-lg rounded-lg bg-slate-100 dark:bg-slate-800"
      >
        <h2 class="rounded-t-lg bg-slate-300 dark:bg-slate-700 px-4 py-2">
          <div class="animate-pulse h-5 w-24 my-1 rounded-xl bg-slate-200 dark:bg-slate-600"></div>
        </h2>
        <div class="flex flex-col gap-2">
          <div
            *ngFor="let skills of [].constructor((i % 3) + 1)"
            class="p-4 pb-0 last:pb-4"
          >
            <div class="animate-pulse h-4 w-20 mt-1.5 rounded-xl bg-slate-300 dark:bg-slate-700"></div>
            <div class="animate-pulse h-4 w-48 my-4 rounded-xl bg-slate-300 dark:bg-slate-700"></div>
            <div class="animate-pulse h-4 w-32 my-4 rounded-xl bg-slate-300 dark:bg-slate-700"></div>
            <div class="animate-pulse h-4 w-40 mb-1.5 rounded-xl bg-slate-300 dark:bg-slate-700"></div>
          </div>
        </div>
      </article>
    </ng-template>

    <!-- content -->
    <article
      *ngFor="let diff of hiscoreDiffs; let i = index"
      class="text-lg shadow-lg rounded-lg bg-slate-100 dark:bg-slate-800"
    >
      <h2 class="font-semibold rounded-t-lg bg-slate-300 dark:bg-slate-700 px-4 py-2">
        <ng-template [ngIf]="i === 0">Today</ng-template>
        <ng-template [ngIf]="i === 1">Yesterday</ng-template>
        <ng-template [ngIf]="i > 1">{{ diff.date | date : 'MMMM dd' | dateOrdinal : diff.date }}</ng-template>
      </h2>

      <!-- other diffs -->
      <section
        *ngFor="let otherKey of filteredOtherKeys(diff)"
        class="p-4 pb-0 last:pb-4 flex flex-col gap-1"
      >
        <h3 class="font-semibold bg-slate-100 dark:bg-slate-800 col-span-full">{{ otherKey | capitalizeWords }}</h3>

        <ng-template
          ngFor
          let-miniGame
          [ngForOf]="miniGames(otherKey, diff)"
        >
          <div
            *ngIf="miniGame.score"
            class="flex gap-2"
          >
            <div class="flex items-center gap-2">
              <img
                icon
                [name]="$any(miniGame).name"
                class="w-4 h-4"
              />
              <span>{{ miniGame.name }}:</span>
            </div>
            <div class="font-semibold text-slate-900 dark:text-white">{{ miniGame.score | number }}</div>
          </div>
        </ng-template>
      </section>

      <ng-template [ngIf]="filteredOtherKeys(diff).length === 0">
        <ng-template [ngTemplateOutlet]="nothingInterestingHappens"></ng-template>
      </ng-template>
    </article>
  </ng-template>
</section>

<ng-template #nothingInterestingHappens>
  <div class="p-4">
    <p class="text-base opacity-70">Nothing interesting happened.</p>
  </div>
</ng-template>
