<div class="min-h-screen flex flex-col safe-area">
  <!-- Added so body has a title -->
  <h1 class="hidden">OSRS Tracker</h1>

  <nav class="sticky top-0 z-50 text-white bg-slate-900 border-b border-slate-300/20">
    <div class="relative container mx-auto flex items-center px-4 py-4">
      <!-- Logo -->
      <a
        class="link-states--dark font-bold text-lg"
        routerLink="/"
      >
        OSRS Tracker
      </a>

      <!-- Spacer -->
      <div class="flex-grow"></div>

      <!-- Desktop menu -->
      <div class="hidden lg:flex items-center">
        <ul class="flex space-x-4 font-semibold">
          <li *ngFor="let route of routes">
            <a
              class="link-states--dark"
              [routerLink]="route.path"
              routerLinkActive="text-emerald-400"
              [routerLinkActiveOptions]="{ exact: route.path === '/' }"
              >{{ route.name }}</a
            >
          </li>
        </ul>
      </div>

      <!-- Mobile menu button -->
      <menu-button [(menuCollapsed)]="menuCollapsed"></menu-button>

      <div class="flex border-l border-slate-300/20 font-bold ml-4 lg:ml-6 pl-4 lg:pl-6">
        <dark-mode></dark-mode>
      </div>
    </div>

    <!-- Mobile menu -->
    <div
      *ngIf="!menuCollapsed"
      class="absolute w-full lg:hidden border-b border-slate-300/20"
    >
      <div class="bg-slate-800 shadow-2xl">
        <ul class="container mx-auto flex flex-col font-semibold">
          <li
            *ngFor="let route of routes"
            class="border-b last:border-b-0 border-b-slate-700"
          >
            <a
              class="flex link-states--dark px-4 py-4 bg-slate-800"
              (click)="menuCollapsed = true"
              [routerLink]="route.path"
              routerLinkActive="text-emerald-400"
              [routerLinkActiveOptions]="{ exact: route.path === '/' }"
              >{{ route.name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="relative">
    <!-- content -->
    <router-outlet></router-outlet>
  </main>

  <footer
    class="flex flex-col lg:flex-row items-center justify-center text-slate-400 bg-slate-900 border-t border-slate-300/20 text-sm mt-auto px-4 py-2"
  >
    <div class="border-slate-300/20 font-semibold lg:border-r lg:mr-6 lg:pr-6">&copy; OSRS Tracker 2023</div>

    <div class="border-slate-300/20 lg:border-r lg:mr-6 lg:pr-6 py-2 lg:py-0">
      This content is not endorsed by or affiliated with Jagex.
    </div>
    <div>
      <a
        class="active:text-slate-200 hover:text-slate-300 mr-6"
        routerLink="/privacy"
      >
        Privacy
      </a>
      <a
        class="active:text-slate-200 hover:text-slate-300"
        routerLink="/terms"
      >
        Terms
      </a>
    </div>
  </footer>
</div>
