<section>
  <header class="flex items-end justify-between mb-4">
    <h2 class="text-2xl font-bold text-slate-900 dark:text-white">{{ capitalizedUsername }}</h2>

    <div class="relative flex gap-2 mb-0.5">
      <img
        *ngIf="playerDetails.type !== PlayerType.Normal"
        icon
        [name]="playerDetails.status === PlayerStatus.Default ? playerDetails.type : playerDetails.status"
        class="h-6 w-6"
      />
      <img
        *ngIf="playerDetails.diedAsHardcore"
        icon
        name="dead"
        class="h-6 w-6"
      />
    </div>
  </header>

  <div class="shadow-lg rounded-lg bg-slate-100 dark:bg-slate-800 p-4 flex">
    <div class="flex flex-col flex-1 font-bold gap-y-1">
      <div>Username:</div>
      <div>Combat level:</div>
      <div>Mode:</div>
      <div *ngIf="playerDetails.type === PlayerType.Hardcore">Hardcore status:</div>
      <div
        *ngIf="
          playerDetails.type !== PlayerType.Normal &&
          (playerDetails.diedAsHardcore || playerDetails.status !== PlayerStatus.Default)
        "
      >
        Ironman status:
      </div>
      <div *ngIf="playerDetails.type !== PlayerType.Normal">Last checked:</div>
    </div>
    <div class="flex flex-col flex-1 font-semibold gap-y-1">
      <div>{{ playerDetails.username }}</div>
      <div>{{ calculateCombatLevel(today) }}</div>
      <div>{{ playerDetails.type }}</div>
      <div *ngIf="playerDetails.type === PlayerType.Hardcore">
        <span
          *ngIf="playerDetails.diedAsHardcore"
          class="text-red-400"
        >
          dead
        </span>
        <span
          *ngIf="!playerDetails.diedAsHardcore"
          class="text-green-400"
        >
          alive
        </span>
      </div>
      <div *ngIf="playerDetails.diedAsHardcore">
        {{ playerDetails.status }}
      </div>
      <div
        *ngIf="playerDetails.type !== PlayerType.Normal && playerDetails.status !== PlayerStatus.Default"
        class="text-red-500"
      >
        {{ playerDetails.status }}
      </div>
      <div *ngIf="playerDetails.type !== PlayerType.Normal">
        {{ playerDetails.lastModified | date : 'MMMM dd, HH:mm' }}
      </div>
    </div>
  </div>
</section>
