<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-4">Terms of Service</h1>
  <p class="font-bold mb-4">Last updated: 2023/03/22</p>

  <div class="bg-slate-300 dark:bg-slate-700 shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-xl font-semibold mb-4">1. Introduction</h2>
    <p class="mb-4">
      Welcome to OSRS Tracker! These Terms of Service ("Terms") govern your use of the OSRS Tracker website and any
      related services (collectively, the "Service"). By accessing or using the Service, you agree to be bound by these
      Terms. If you do not agree to these Terms, please do not use the Service.
    </p>

    <h2 class="text-xl font-semibold mb-4">2. Intellectual Property</h2>
    <p class="mb-4">
      OSRS Tracker is a web application that uses data obtained from an open API provided by Jagex Limited, the
      developer and publisher of Old School RuneScape. The content provided on OSRS Tracker is created using
      intellectual property belonging to Jagex Limited and is used under the terms of Jagex's Fan Content Policy. OSRS
      Tracker is not endorsed by or affiliated with Jagex Limited.
    </p>

    <h2 class="text-xl font-semibold mb-4">3. Use of the Service</h2>
    <p class="mb-4">
      You agree to use the Service solely for personal, non-commercial purposes. You may not use the Service for any
      unlawful purpose or in a manner that violates these Terms. You are responsible for any activity that occurs under
      your IP address or device. The Service is open to everyone and sharing content from the Service is allowed, as
      long as it is not for commercial purposes.
    </p>

    <h2 class="text-xl font-semibold mb-4">4. Third-Party Links and Content</h2>
    <p class="mb-4">
      The Service may contain links to third-party websites or resources, such as Old School RuneScape news articles and
      OSRS Wiki pages. OSRS Tracker is not responsible for the content, products, or services on or available from those
      websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any
      third-party websites or resources.
    </p>

    <h2 class="text-xl font-semibold mb-4">5. Data Collection</h2>
    <p class="mb-4">
      OSRS Tracker stores certain data in the local storage of your device, such as your favorite players. This data is
      collected and stored to improve your user experience and enable certain features within the Service. By using the
      Service, you consent to the collection and storage of this data.
    </p>
    <p class="mb-4">
      OSRS Tracker also uses Google Analytics to gather anonymous data about site usage, visitor count, popular pages,
      JavaScript errors... This data helps us understand how the Service is being used and to improve it further. By
      using the Service, you consent to the use of Google Analytics for these purposes.
    </p>

    <h2 class="text-xl font-semibold mb-4">6. Limitation of Liability</h2>
    <p class="mb-4">
      OSRS Tracker is provided on an "as is" and "as available" basis, without warranties of any kind, either express or
      implied. You expressly agree that your use of the Service is at your sole risk. In no event shall OSRS Tracker,
      its owners, developers, or affiliates be liable for any direct, indirect, incidental, special, consequential, or
      punitive damages resulting from your use or inability to use the Service.
    </p>

    <h2 class="text-xl font-semibold mb-4">7. Indemnification</h2>
    <p class="mb-4">
      You agree to defend, indemnify, and hold harmless OSRS Tracker, its owners, developers, and affiliates from and
      against any claims, damages, costs, and expenses, including attorneys' fees, arising from or related to your use
      of the Service or your violation of these Terms.
    </p>

    <h2 class="text-xl font-semibold mb-4">8. Changes to the Terms</h2>
    <p class="mb-4">
      We reserve the right to modify or replace these Terms at any time, at our sole discretion. If we make material
      changes to the Terms, we will notify you through the Service or by posting an announcement on our website. Your
      continued use of the Service after any changes to the Terms constitutes your acceptance of the new Terms.
    </p>

    <h2 class="text-xl font-semibold mb-4">9. Governing Law and Jurisdiction</h2>
    <p class="mb-4">
      These Terms shall be governed by and construed in accordance with the laws of Belgium. Any disputes arising from
      or related to these Terms or the Service shall be resolved through the appropriate courts of Belgium.
    </p>

    <h2 class="text-xl font-semibold mb-4">10. Contact Information</h2>
    <p>
      If you have any questions about these Terms or the Service, please contact us at
      <a class="link" href="mailto:freek_mencke.dev@outlook.com">freek_mencke.dev@outlook.com</a>.
    </p>
  </div>
</div>
