<section class="flex flex-col gap-4">
  <header>
    <h2 class="text-2xl font-bold text-slate-900 dark:text-white">{{ itemDetail.name }}</h2>
  </header>

  <div class="shadow-lg rounded-lg bg-slate-100 dark:bg-slate-800 p-4 flex flex-col gap-4">
    <picture class="flex justify-center py-4">
      <img
        class="w-40 h-40 object-contain"
        [src]="detailIconUrl"
      />
    </picture>

    <section class="text-lg">
      <h3 class="font-semibold">Examine:</h3>
      <p class="text-slate-900 dark:text-white">{{ itemDetail.examine }}</p>
    </section>

    <section>
      <h3 class="text-lg font-semibold text-center">Values</h3>

      <div class="flex flex-col gap-1">
        <section class="flex justify-between">
          <h3 class="font-semibold">Value</h3>
          <div class="text-slate-900 dark:text-white">{{ itemDetail.value | number }}&ngsp;gp</div>
        </section>

        <section class="flex justify-between">
          <h3 class="font-semibold">High alc</h3>
          <div class="text-slate-900 dark:text-white">{{ itemDetail.highalch | number }}&ngsp;gp</div>
        </section>

        <section class="flex justify-between">
          <h3 class="font-semibold">Low alc</h3>
          <div class="text-slate-900 dark:text-white">{{ itemDetail.lowalch | number }}&ngsp;gp</div>
        </section>
      </div>
    </section>

    <section>
      <h3 class="text-lg font-semibold text-center">Grand Exchange</h3>

      <div class="flex flex-col gap-1">
        <section class="flex justify-between">
          <h3 class="flex font-semibold">
            <div>Buy price</div>
            <info-tooltip>The price of the latest instant buy.</info-tooltip>
          </h3>
          <div
            class="text-slate-900 dark:text-white"
            tooltip
            [tooltipTemplate]="highTimeTooltip"
          >
            {{ latestPrices.high | number }}&ngsp;gp
          </div>
          <ng-template #highTimeTooltip>Last trade was {{ latestPrices.highTime | timeAgo }}.</ng-template>
        </section>

        <section class="flex justify-between">
          <h3 class="flex font-semibold">
            <div>Sell price</div>
            <info-tooltip>The price of the latest instant sell.</info-tooltip>
          </h3>
          <div
            class="text-slate-900 dark:text-white"
            tooltip
            [tooltipTemplate]="lowTimeTooltip"
          >
            {{ latestPrices.low | number }}&ngsp;gp
          </div>
          <ng-template #lowTimeTooltip>Last trade was {{ latestPrices.lowTime | timeAgo }}.</ng-template>
        </section>

        <section class="flex justify-between">
          <h3 class="flex font-semibold">
            <div>Limit</div>
            <info-tooltip>The amount of times the item can be bought every 4 hours.</info-tooltip>
          </h3>
          <div class="text-slate-900 dark:text-white">{{ itemDetail.limit | number }}</div>
        </section>
      </div>
    </section>
  </div>

  <button
    class="button--default flex items-center justify-between"
    (click)="goToWiki()"
  >
    <div class="w-6"></div>

    <div>OSRS Wiki</div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
      />
    </svg>
  </button>

  <button
    class="button--primary flex items-center justify-between"
    (click)="toggleFavorite()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      [attr.fill]="isFavorite ? 'currentColor' : 'none'"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z"
      />
    </svg>

    <div *ngIf="isFavorite">Remove favorite</div>
    <div *ngIf="!isFavorite">Add favorite</div>

    <div class="w-6"></div>
  </button>
</section>
