@layer base {
  body::-webkit-scrollbar,
  .scroll-bar::-webkit-scrollbar {
    @apply dark:w-4;
  }
  body::-webkit-scrollbar-thumb,
  .scroll-bar::-webkit-scrollbar-thumb {
    @apply rounded-lg border-4 border-solid border-transparent bg-clip-content bg-slate-600;
  }

  @font-face {
    font-family: 'SOLIX';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    descent-override: 10%;
    src: url(/assets/fonts/solix_light.woff2) format('woff2');
  }

  @font-face {
    font-family: 'SOLIX';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    descent-override: 10%;
    src: url(/assets/fonts/solix.woff2) format('woff2');
  }

  @font-face {
    font-family: 'SOLIX';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    descent-override: 10%;
    src: url(/assets/fonts/solix_bold.woff2) format('woff2');
  }
}
