@layer utilities {
  .pixelated {
    image-rendering: pixelated;
  }

  /* Color */
  .accent {
    @apply text-emerald-500 dark:text-emerald-400;
  }
  .positive,
  .positive-value {
    @apply text-positive-600 dark:text-positive-400;
  }
  .positive-value::before {
    content: '+';
  }
  .negative,
  .negative-value {
    @apply text-negative-600 dark:text-negative-400;
  }
  .negative-value::before {
    content: '-';
  }

  /* safe-area-inset */
  .sa-t {
    padding-top: env(safe-area-inset-top);
  }
  .sa-l {
    padding-left: env(safe-area-inset-left);
  }
  .sa-r {
    padding-right: env(safe-area-inset-right);
  }
  .sa-b {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
