<header class="container mx-auto py-24">
  <h1 class="flex flex-col items-center text-center">
    <span class="text-5xl sm:text-6xl lg:text-7xl font-bold text-slate-900 dark:text-white">OSRS Tracker</span>
    &ngsp;
    <span class="accent text-3xl sm:text-4xl lg:text-5xl font-bold mt-2 sm:mt-3 lg:mt-4">
      Track your OSRS progress.
    </span>
  </h1>
</header>

<section class="container mx-auto mb-24 px-4">
  <h2 class="text-2xl font-bold text-slate-900 dark:text-white mb-4">Latest OSRS News</h2>

  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 xl:grid-cols-4">
    @for (newsItem of osrsNewsItems.value(); track newsItem.link) {
      <osrs-news-card [osrsNewsItem]="newsItem" />
    } @empty {
      <osrs-news-card-skeleton />
      <osrs-news-card-skeleton />
      <osrs-news-card-skeleton />
      <osrs-news-card-skeleton />
    }
  </div>
</section>

<section class="container mx-auto grid gap-16 mb-16 px-4 text-slate-900 dark:text-white">
  <h2 class="text-center text-4xl font-bold">Features</h2>

  <div class="grid grid-cols-1 lg:grid-cols-2 items-center">
    <div>
      <img
        alt="OSRS Tracker"
        [ngSrc]="isDarkMode() ? '/assets/features/xp-tracker_dark.webp' : '/assets/features/xp-tracker.webp'"
        width="800"
        height="450"
        priority
      />
    </div>

    <div class="md:px-8 lg:px-16 py-8">
      <div class="text-2xl font-bold mb-4">XP Tracker</div>

      <div class="text-lg mb-8">
        Track your daily Old School RuneScape XP gains, completed Clue scrolls, Boss kills, and more with the OSRS XP
        Tracker. Keep up-to-date with you and your friends' progress to stay motivated.
      </div>

      <a [routerLink]="['trackers', 'xp']" class="button--default">Go to XP Tracker</a>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 items-center ord">
    <div class="md:px-8 xl:px-16 py-8">
      <div class="text-2xl font-bold mb-4">Price Tracker</div>

      <div class="text-lg mb-8">
        Keep track of real-time prices and market trends in Old School RuneScape with the OSRS Price Tracker. Stay ahead
        of the market and make smart decisions with the latest pricing information.
      </div>

      <a [routerLink]="['trackers', 'price']" class="button--default">Go to Price Tracker</a>
    </div>

    <div class="-order-1 lg:order-none">
      <img
        alt="OSRS Tracker"
        [ngSrc]="isDarkMode() ? '/assets/features/price-tracker_dark.webp' : '/assets/features/price-tracker.webp'"
        width="800"
        height="450"
      />
    </div>
  </div>
</section>
