<section class="flex flex-col gap-4">
  <header class="flex items-center justify-between">
    <h1 class="text-2xl font-bold text-slate-900 dark:text-white">Analytics</h1>
  </header>

  <div class="flex flex-col gap-8">
    <article class="text-lg shadow-lg rounded-lg bg-slate-100 dark:bg-slate-800">
      <h2 class="font-semibold rounded-t-lg bg-slate-300 dark:bg-slate-700 px-4 py-2">Trend</h2>

      <div class="p-4">Work in progress...</div>
    </article>

    <article class="text-lg shadow-lg rounded-lg bg-slate-100 dark:bg-slate-800">
      <h2 class="font-semibold rounded-t-lg bg-slate-300 dark:bg-slate-700 px-4 py-2">Price</h2>

      <div class="p-4">Work in progress...</div>
    </article>

    <article class="text-lg shadow-lg rounded-lg bg-slate-100 dark:bg-slate-800">
      <h2 class="font-semibold rounded-t-lg bg-slate-300 dark:bg-slate-700 px-4 py-2">Volume</h2>

      <div class="p-4">Work in progress...</div>
    </article>
  </div>
</section>
