<section class="flex flex-col gap-4">
  <header class="flex items-center justify-between">
    <h1 class="text-2xl font-bold text-slate-900 dark:text-white">Analytics</h1>
  </header>

  <div class="flex flex-col gap-8">
    <article card>
      <div title>Trend</div>

      <div class="grid grid-cols-2 lg:grid-cols-4 text-2xl font-semibold">
        <section class="py-4 flex flex-col items-center justify-center">
          <div class="flex">
            <h2 class="mb-1 text-xl font-normal">Quarter</h2>
            <info-tooltip>
              Compared to the 24-hour average 90 days ago (UTC), which was
              <span class="font-semibold">{{ trend?.quarterValue | number }}&nbsp;gp</span>.
            </info-tooltip>
          </div>
          <colored-value [value]="trend?.quarter" suffix="%"></colored-value>
        </section>

        <section class="py-4 flex flex-col items-center justify-center">
          <div class="flex">
            <h2 class="mb-1 text-xl font-normal">Month</h2>
            <info-tooltip>
              Compared to the 24-hour average 30 days ago (UTC), which was
              <span class="font-semibold">{{ trend?.monthValue | number }}&nbsp;gp</span>.
            </info-tooltip>
          </div>
          <colored-value [value]="trend?.month" suffix="%"></colored-value>
        </section>

        <section class="py-4 flex flex-col items-center justify-center">
          <div class="flex">
            <h2 class="mb-1 text-xl font-normal">Week</h2>
            <info-tooltip>
              Compared to the 24-hour average of 7 days ago (UTC), which was
              <span class="font-semibold">{{ trend?.weekValue | number }}&nbsp;gp</span>.
            </info-tooltip>
          </div>
          <colored-value [value]="trend?.week" suffix="%"></colored-value>
        </section>

        <section class="py-4 flex flex-col items-center justify-center">
          <div class="flex">
            <h2 class="mb-1 text-xl font-normal">Today</h2>
            <info-tooltip>
              Compared to the 24-hour average of yesterday (UTC), which was
              <span class="font-semibold">{{ trend?.todayValue | number }}&nbsp;gp</span>.
            </info-tooltip>
          </div>
          <colored-value [value]="trend?.today" suffix="%"></colored-value>
        </section>
      </div>
    </article>

    <article card>
      <div title>Price</div>

      <div>Work in progress...</div>
    </article>

    <article card>
      <div title>Volume</div>

      <div>Work in progress...</div>
    </article>
  </div>
</section>
