<page-header headerText="Price Tracker">
  <div class="mb-8 flex flex-col gap-2">
    <div>Keep track of real-time prices and market trends in Old School Runescape with the OSRS Price Tracker.</div>
    <div>Stay ahead of the market and make smart decisions with the latest pricing information.</div>
  </div>

  <form class="relative max-w-md w-full mx-4">
    <input
      type="text"
      class="z-20 relative w-full input--default"
      placeholder="Enter search term"
      name="query"
      [(ngModel)]="query"
      autocomplete="hidden"
    />

    <button type="submit" class="z-20 absolute right-0 button--primary button--rounded" (click)="searchItems()">
      <span [class.invisible]="loading()">Search</span>

      @if (loading()) {
        <spinner class="absolute top-0 left-0 w-full h-full flex items-center justify-center"></spinner>
      }
    </button>

    @if (results().length) {
      <div
        class="z-10 absolute rounded-3xl bg-white dark:bg-slate-800 border border-slate-400 dark:border-slate-700 shadow-2xl top-0 w-full overflow-hidden"
      >
        <div class="mt-10 pt-px max-h-60 overflow-y-auto scroll-bar">
          <ul>
            @for (item of results(); track item.id) {
              <li>
                <a
                  class="group flex items-center px-4 py-2 hover:bg-slate-200 dark:hover:bg-slate-700 text-slate-900 dark:text-white rounded-r-full"
                  [routerLink]="['/trackers/price', item.id]"
                >
                  <div class="w-8 h-8 mr-3 flex justify-center items-center">
                    <img icon [name]="item.icon" [wiki]="true" />
                  </div>
                  <div class="flex-grow text-left text-lg">{{ item.name }}</div>
                  <div class="hidden group-hover:block">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>
                  </div>
                </a>
              </li>
            }
          </ul>
        </div>
      </div>
    }
  </form>
</page-header>

<div class="container mx-auto mb-8 px-4">
  <div class="mx-auto grid lg:grid-cols-3 gap-8">
    <section>
      <h2 class="text-2xl font-bold text-slate-900 dark:text-white mb-4 flex">
        Global recent lookups
        <info-tooltip>
          The widget shows the price difference between the last instant-sell price and the 24h average of the previous
          day (UTC).
        </info-tooltip>
      </h2>

      <div class="grid gap-4 p-0.5 max-h-72 overflow-y-auto">
        @for (item of recentItemLookups.value(); track item.id) {
          <a [routerLink]="['/trackers/price', item.id]">
            <item-widget [recentItem]="item"></item-widget>
          </a>
        } @empty {
          @if (!recentItemLookups.isLoading()) {
            <p>No items looked up yet.</p>
          } @else {
            <div class="flex justify-center items-center h-72 -m-0.5">
              <spinner [size]="8" />
            </div>
          }
        }
      </div>
    </section>

    <section>
      <h2 class="text-2xl font-bold text-slate-900 dark:text-white mb-4 flex">
        Your recent lookups
        <info-tooltip>
          The widget shows the price difference between the last instant-sell price and the 24h average of the previous
          day (UTC).
        </info-tooltip>
      </h2>

      <div class="grid gap-4 p-0.5 max-h-72 overflow-y-auto">
        @for (item of recentItems; track item.id) {
          <a [routerLink]="['/trackers/price', item.id]">
            <item-widget [recentItem]="item"></item-widget>
          </a>
        } @empty {
          <p>No items looked up yet.</p>
        }
      </div>
    </section>

    <section>
      <h2 class="text-2xl font-bold text-slate-900 dark:text-white mb-4 flex">
        Your favorites
        <info-tooltip>
          The widget shows the price difference between the last instant-sell price and the 24h average of the previous
          day (UTC).
        </info-tooltip>
      </h2>

      <div class="grid gap-4 p-0.5 max-h-72 overflow-y-auto">
        @for (item of favoriteItems; track item.id) {
          <a [routerLink]="['/trackers/price', item.id]">
            <item-widget [recentItem]="item"></item-widget>
          </a>
        } @empty {
          <p>No items favorited yet.</p>
        }
      </div>
    </section>
  </div>
</div>
