<header class="container mx-auto pt-20 pb-16 md:pt-24 md:pb-20 text-center">
  <h1 class="text-4xl sm:text-5xl lg:text-6xl font-bold text-slate-900 dark:text-white">XP Tracker</h1>
  <div class="mt-12 flex justify-center">
    <form class="relative max-w-md w-full mx-4">
      <input
        type="text"
        class="w-full input--default"
        placeholder="Enter username"
        name="username"
        [(ngModel)]="username"
        autocomplete="hidden"
      />
      <button
        type="submit"
        class="absolute right-0 button--primary"
        (click)="searchUser(username)"
      >
        <svg
          *ngIf="loading"
          class="animate-spin h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

        <span *ngIf="!loading">Search</span>
      </button>
    </form>
  </div>
</header>

<div class="container mx-auto mb-8 px-4 flex flex-col gap-8">
  <section>
    <h2 class="text-2xl font-bold text-slate-900 dark:text-white mb-4">Recent players</h2>
    <p>Under construction...</p>
  </section>

  <section>
    <h2 class="text-2xl font-bold text-slate-900 dark:text-white mb-4">Favorite players</h2>
    <p>Under construction...</p>
  </section>
</div>
