<information-page title="Privacy Policy" lastUpdated="2023/03/22">
  <h2 class="text-xl font-semibold mb-4">1. Introduction</h2>
  <p class="mb-4">
    This Privacy Policy explains how OSRS Tracker collects, uses, and shares information when you use our website and
    any related services (collectively, the "Service").
  </p>
  <p class="mb-4">
    By using the Service, you agree to the collection and use of information in accordance with this Privacy Policy.
  </p>

  <h2 class="text-xl font-semibold mb-4">2. Information We Collect</h2>
  <p class="mb-4">
    We do not collect any personal information from users. The Service accesses Old School RuneScape hiscores through an
    API provided by Jagex Limited, which do not contain any personal information.
  </p>
  <p class="mb-4">
    The Service may store certain data in the local storage of your device, such as your favorite players. This data is
    collected and stored to improve your user experience and enable certain features within the Service.
  </p>

  <h2 class="text-xl font-semibold mb-4">3. Cookies</h2>
  <p class="mb-4">
    OSRS Tracker uses Google Analytics 4, which utilizes first-party cookies to distinguish unique users and sessions.
    These cookies help us understand how visitors interact with our website and improve user experience. No personal
    information is collected through these cookies.
  </p>
  <p class="mb-4">By using the Service, you consent to the use of these first-party cookies for the purposes stated.</p>

  <h2 class="text-xl font-semibold mb-4">4. Use of Information</h2>
  <p class="mb-4">
    We use the information collected to understand how the Service is being used and to improve it further.
  </p>

  <h2 class="text-xl font-semibold mb-4">5. Sharing of Information</h2>
  <p class="mb-4">
    We do not share any data with third parties, except as required by Google Analytics to provide us with insights on
    site usage, visitor count, visited pages, and other relevant data.
  </p>

  <h2 class="text-xl font-semibold mb-4">6. Data Retention</h2>
  <p class="mb-4">
    We retain logging data in our backend for a maximum of 7 days. Since we do not have any sessions, there is no way to
    link a request to a user.
  </p>

  <h2 class="text-xl font-semibold mb-4">7. Changes to the Privacy Policy</h2>
  <p class="mb-4">
    We reserve the right to modify or update this Privacy Policy at any time, at our sole discretion. If we make
    material changes to the Privacy Policy, we will notify you through the Service or by posting an announcement on our
    website.
  </p>
  <p class="mb-4">
    We encourage you to review the Privacy Policy whenever you use the Service to stay informed about our information
    practices and the ways you can help protect your privacy. Your continued use of the Service after any changes to the
    Privacy Policy constitutes your acceptance of the updated Privacy Policy.
  </p>

  <h2 class="text-xl font-semibold mb-4">8. Your Rights</h2>
  <p class="mb-4">
    Under the General Data Protection Regulation (GDPR), users from the European Union have certain rights regarding
    their personal data. However, since we do not collect or store any personal information, these rights are not
    applicable in the context of our Service. If you have any concerns or questions about data privacy, please contact
    us at the email address provided below.
  </p>

  <h2 class="text-xl font-semibold mb-4">9. Contact Information</h2>
  <p>
    If you have any questions about this Privacy Policy or the Service, please contact us at
    <a class="link" href="mailto:freek_mencke.dev@outlook.com">freek_mencke.dev@outlook.com</a>.
  </p>
</information-page>
