@import '@angular/cdk/overlay-prebuilt.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body,
  .scroll-bar {
    &::-webkit-scrollbar {
      @apply dark:w-4;
    }
    &::-webkit-scrollbar-thumb {
      @apply rounded-lg border-4 border-solid border-transparent bg-clip-content bg-slate-600;
    }
  }

  .accent {
    @apply text-emerald-500 dark:text-emerald-400;
  }
  .negative {
    @apply text-red-500 dark:text-red-400;
    &.negative--sign::before {
      content: '-';
    }
  }
  .positive {
    @apply text-green-500 dark:text-green-400;
    &.positive--sign::before {
      content: '+';
    }
  }

  button {
    @apply text-white font-semibold rounded-lg border border-transparent px-6 py-2;

    &.button--default {
      @apply bg-slate-700 hover:bg-slate-800 active:bg-slate-900 border-slate-600 hover:border-slate-700 active:border-slate-800
       dark:bg-slate-600 dark:hover:bg-slate-700 dark:active:bg-slate-800 dark:border-slate-500 dark:hover:border-slate-600 dark:active:border-slate-700;
    }
    &.button--primary {
      @apply dark:text-slate-900
        bg-emerald-500 hover:bg-emerald-600 active:bg-emerald-700 border-emerald-400 hover:border-emerald-500 active:border-emerald-600
        dark:bg-emerald-400 dark:hover:bg-emerald-500 dark:active:bg-emerald-600 dark:border-emerald-300 dark:hover:border-emerald-400 dark:active:border-emerald-500;
    }
  }

  .link {
    @apply font-semibold active:text-emerald-700 hover:text-emerald-600 text-emerald-500 dark:active:text-emerald-600 dark:hover:text-emerald-500 dark:text-emerald-400;
  }

  .link-states {
    &--light {
      @apply active:text-emerald-700 hover:text-emerald-600;
    }
    &--dark {
      @apply active:text-emerald-600 hover:text-emerald-500;
    }
  }

  .input--default {
    @apply rounded-full w-full px-6 dark:bg-slate-800 focus:ring-emerald-500 focus:border-emerald-500 dark:focus:ring-emerald-400 dark:focus:border-emerald-400;
  }
}

@layer utilities {
  .sa-t {
    padding-top: env(safe-area-inset-top);
  }
  .sa-l {
    padding-left: env(safe-area-inset-left);
  }
  .sa-r {
    padding-right: env(safe-area-inset-right);
  }
  .sa-b {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
