<page-header headerText="XP Tracker">
  <form class="relative max-w-md w-full mx-4">
    <input
      type="text"
      class="w-full input--default"
      placeholder="Enter username"
      name="username"
      [(ngModel)]="username"
      autocomplete="hidden"
    />

    <button
      type="submit"
      class="absolute right-0 button--primary button--rounded"
      [routerLink]="username ? ['/trackers/xp', username] : '.'"
    >
      Search
    </button>
  </form>

  <div class="absolute top-16 mt-2">
    <div class="flex gap-4 items-center">
      <div class="whitespace-nowrap flex text-xs">
        <span tooltip [tooltipTemplate]="scrapingOffsetTooltip">Tracking offset:</span>
        <ng-template #scrapingOffsetTooltip>
          <div class="pb-1">
            The tracking offset indicates which set of hiscores is being shown: a tracking offset of +02:00 UTC will
            only show hiscores that were tracked at 02:00 UTC.
          </div>
          <div>
            Since we only start tracking a player the first time they are looked up, it's possible that there are no
            hiscores yet for a selected tracking offset.
          </div>
        </ng-template>
      </div>
      <select
        class="input--default input--small"
        [ngModel]="scrapingOffset()"
        (ngModelChange)="updateScrapingOffset($event)"
      >
        <option class="font-mono" *ngFor="let offset of SCRAPING_OFFSETS" [ngValue]="offset">
          {{ offset === 0 ? '&nbsp;' : offset > 0 ? '+' : '' }}{{ offset | number: '2.0-0' }}:00 UTC
        </option>
      </select>
    </div>
  </div>
</page-header>

<div class="container mx-auto mb-8 px-4">
  <div class="mx-auto max-w-xl lg:max-w-5xl grid lg:grid-cols-2 gap-8">
    <section>
      <h2 class="text-2xl font-bold text-slate-900 dark:text-white mb-4">Recent</h2>
      <p *ngIf="!recentPlayers?.length">No players looked up yet.</p>
      <div class="grid gap-4">
        <a *ngFor="let username of recentPlayers; trackBy: trackByUsername" [routerLink]="['/trackers/xp', username]">
          <player-widget [username]="username" [scrapingOffset]="scrapingOffset()" />
        </a>
      </div>
    </section>
    <section>
      <h2 class="text-2xl font-bold text-slate-900 dark:text-white mb-4">Favorite</h2>
      <p *ngIf="!favoritePlayers?.length">No players favorited yet.</p>
      <div class="grid gap-4">
        <a *ngFor="let username of favoritePlayers; trackBy: trackByUsername" [routerLink]="['/trackers/xp', username]">
          <player-widget [username]="username" [scrapingOffset]="scrapingOffset()" />
        </a>
      </div>
    </section>
  </div>
</div>
