<page-header headerText="XP Tracker">
  <div class="mb-8 flex flex-col gap-2">
    <div>Track your Old School RuneScape XP gains, Clue scrolls, Boss kills easily with OSRS Tracker.</div>
    <div>Stay motivated by tracking both your and your friends' progress!</div>
  </div>

  <div class="relative max-w-md w-full mx-4">
    <input
      type="text"
      class="w-full input--default"
      placeholder="Enter player name"
      name="player"
      [(ngModel)]="usernameQuery"
      autocomplete="hidden"
    />
    <button
      type="submit"
      class="absolute right-0 button--primary button--rounded"
      [routerLink]="usernameQuery() ? ['/trackers/xp', usernameQuery()] : '.'"
    >
      Search
    </button>

    <div class="absolute mt-2 flex justify-center w-full">
      <div class="flex gap-4 items-center">
        <div class="whitespace-nowrap flex text-xs">
          <span tooltip [tooltipTemplate]="scrapingOffsetTooltip">Tracking offset:</span>
          <ng-template #scrapingOffsetTooltip>
            <div class="pb-1">
              The tracking offset indicates which set of hiscores is being shown: a tracking offset of +02:00 UTC will
              only show hiscores that were tracked at 02:00 UTC.
            </div>
            <div>
              Since we only start tracking a player the first time they are looked up, it's possible that there are no
              hiscores yet for a selected tracking offset.
            </div>
          </ng-template>
        </div>
        <select
          class="input--default input--small"
          [ngModel]="scrapingOffset()"
          (ngModelChange)="updateScrapingOffset($event)"
        >
          @for (offset of SCRAPING_OFFSETS; track offset) {
            <option class="font-mono" [ngValue]="offset">
              {{ offset === 0 ? '&nbsp;' : offset > 0 ? '+' : '' }}{{ offset | number: '2.0-0' }}:00 UTC
            </option>
          }
        </select>
      </div>
    </div>
  </div>
</page-header>

<div class="container mx-auto mb-8 px-4">
  <div class="mx-auto grid lg:grid-cols-3 gap-8">
    <section>
      <h2 class="text-2xl font-bold text-slate-900 dark:text-white mb-4">Global recent lookups</h2>
      <div class="grid gap-4 p-0.5 max-h-72 overflow-y-auto">
        @if (recentPlayerLookups.isLoading()) {
          <div class="flex justify-center items-center h-72 -m-0.5">
            <spinner [size]="8" />
          </div>
        } @else {
          @for (player of recentPlayerLookups.value(); track player.username) {
            <a [routerLink]="['/trackers/xp', player.username]">
              <player-widget [player]="player" [scrapingOffset]="scrapingOffset()" />
            </a>
          } @empty {
            <p>No players looked up yet.</p>
          }
        }
      </div>
    </section>

    <section>
      <h2 class="text-2xl font-bold text-slate-900 dark:text-white mb-4">Your recent lookups</h2>
      <div class="grid gap-4 p-0.5 max-h-72 overflow-y-auto">
        @for (username of recentPlayers; track username) {
          <a [routerLink]="['/trackers/xp', username]">
            <player-widget [username]="username" [scrapingOffset]="scrapingOffset()" />
          </a>
        } @empty {
          <p>No players looked up yet.</p>
        }
      </div>
    </section>

    <section>
      <h2 class="text-2xl font-bold text-slate-900 dark:text-white mb-4">Your favorites</h2>
      <div class="grid gap-4 p-0.5 max-h-72 overflow-y-auto">
        @for (username of favoritePlayers; track username) {
          <a [routerLink]="['/trackers/xp', username]">
            <player-widget [username]="username" [scrapingOffset]="scrapingOffset()" />
          </a>
        } @empty {
          <p>No players favorited yet.</p>
        }
      </div>
    </section>
  </div>
</div>
