<article class="flex flex-col h-full shadow-lg rounded-lg bg-slate-100 dark:bg-slate-800">
  <div class="animate-pulse rounded-t-lg bg-slate-300 dark:bg-slate-700" [style.aspect-ratio]="314 / 177"></div>
  <div class="flex flex-col grow p-4">
    <div class="flex justify-between text-slate-500 dark:text-slate-400 mb-3">
      <small class="animate-pulse h-4 w-24 rounded-xl bg-slate-200 dark:bg-slate-600"></small>
      <small class="animate-pulse h-4 w-16 rounded-xl bg-slate-200 dark:bg-slate-600"></small>
    </div>
    <h3 class="animate-pulse h-5 w-full rounded-xl bg-slate-200 dark:bg-slate-600 mb-4"></h3>
    <div class="animate-pulse h-4 w-full rounded-xl bg-slate-200 dark:bg-slate-600 mb-2"></div>
    <div class="animate-pulse h-4 w-32 rounded-xl bg-slate-200 dark:bg-slate-600 mb-4"></div>

    <div class="mt-auto">
      <div class="animate-pulse h-5 w-24 rounded-xl bg-slate-200 dark:bg-slate-600"></div>
    </div>
  </div>
</article>
