<article class="flex flex-col h-full rounded-2xl bg-card overflow-hidden">
  <skeleton class="w-full rounded-none" [style.aspect-ratio]="628 / 354" />
  <div class="flex flex-col grow p-4">
    <div class="flex justify-between gap-2 mb-2 py-0.5">
      <skeleton class="h-4 w-28" />
      <skeleton class="h-4 w-20" />
    </div>
    <div class="flex flex-col gap-2 mb-2 py-1">
      <skeleton class="h-4 w-full" />
      <skeleton class="h-4 w-36" />
    </div>
    <div class="flex flex-col gap-2 py-1">
      <skeleton class="h-4 w-full" />
      <skeleton class="h-4 w-44" />
    </div>
  </div>
</article>
