<article
  class="group relative flex flex-col h-full rounded-2xl bg-card overflow-hidden hover:bg-row focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-accent"
>
  <img class="w-full bg-row object-cover" [ngSrc]="imageSrc()" alt="" [width]="628" [height]="354" priority />
  <div class="flex flex-col grow p-4">
    <div class="flex justify-between gap-2 mb-2 text-sm/5 text-muted">
      <span>{{ osrsNewsItem().pubDate | date: 'MMMM dd, yyyy' }}</span>
      <span>{{ osrsNewsItem().category }}</span>
    </div>
    <h3 class="mb-2 text-lg/6 font-bold line-clamp-2">
      <a
        class="text-strong group-hover:text-accent after:absolute after:inset-0 focus-visible:outline-none"
        [href]="osrsNewsItem().link"
        target="_blank"
        rel="noopener"
        [innerHTML]="osrsNewsItem().title"
      ></a>
    </h3>
    <p class="line-clamp-2" [innerHTML]="osrsNewsItem().description"></p>
  </div>
</article>
